$main-font: 'Montserrat', sans-serif;
$heading-font: 'Barlow Condensed', sans-serif;
$website-width: 1000px;
$main-color: #d7bc71;
$light-color: #eee5cd;
$dark-color: #333;
$bg-image: url('../images/header.jpg');
$responsive-paragraph: clamp(0.4rem, 6vw, 1.2rem);

@function set-text-color($color) {
  @if (lightness($color) > 50) {
    @return $dark-color;
  } @else {
    @return $light-color;
  }
}
