$website-width: 1280px;
$main-font: 'Montserrat', sans-serif;
$heading-font: 'Barlow Condensed', sans-serif;
$main-color: #1d4925;
$gradient-color: hsl(34, 100%, 70%);
// $main-color: #ffa586;
// $main-color: #ffa586;
$light-color: #eee5cd;
$medium-color: #ccc;
$dark-color: #333;
$gradient: linear-gradient(265deg, $main-color 55%, $gradient-color 100%);
$bg-image: url('../img/showcase.jpg');
$transition-duration: 0.3s;
