.container {
  max-width: 1000px;
  padding: 1.5rem;
  margin: auto;
}

h1, h2,
h3 {
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  font-size: clamp(3rem, 8vw, 6rem);
}

h2,
h3 {
  font-size: clamp(2.3rem, 6vw, 4rem);
}

.bottom-line {
  height: 4px;
  width: 6rem;
  background: #d7bc71;
  display: block;
  margin: 1rem 0 1.5rem 0;
  border-radius: 1px;
}

.thin {
  font-weight: 200;
}

.bold {
  font-weight: 600;
  font-size: clamp(0.4rem, 6vw, 1.2rem);
}

::-moz-selection {
  background-color: rgba(215, 188, 113, 0.5176470588);
}

::selection {
  background-color: rgba(215, 188, 113, 0.5176470588);
}

.gradient-animation {
  background: linear-gradient(to right, #d7bc71, #fff 35%, #d7bc71);
  background: linear-gradient(to right, rgb(0, 168, 253), #fff 35%, #e00a95);
  background: linear-gradient(to right, #68d0cd, #fff 35%, #e15cb0);
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient 3s linear infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 75%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 70%;
  }
}
* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

html,
body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  overflow-x: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
}

header {
  background: url("../images/header.jpg") no-repeat center center/cover;
  height: 80dvh;
  position: relative;
}
header::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
header * {
  z-index: 1;
}
header .header-content {
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 100%;
  text-wrap: balance;
  color: #eee5cd;
}
header .header-content h1, header .header-content h2,
header .header-content h3 {
  font-size: clamp(1rem, 8vw, 6rem);
  font-weight: 600;
}
header .header-content h2 {
  font-size: clamp(0.8rem, 6vw, 4rem);
}
header .header-content p {
  margin-top: 1rem;
  font-size: clamp(0.4rem, 6vw, 1.2rem);
}
header svg {
  position: absolute;
  bottom: -2px;
  width: 100%;
  height: 5vw;
  fill: #fff;
}

.section-light {
  min-height: 50dvh;
  text-wrap: balance;
  background-color: #eee5cd;
  background: linear-gradient(0deg, #eee5cd 0%, #fff 100%);
  color: #333;
}

.section-photo {
  color: #eee5cd;
  text-wrap: balance;
  background: url("../images/fuer_wen.jpg") no-repeat fixed center/cover;
  min-height: 50dvh;
  position: relative;
}
.section-photo::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.section-photo .label {
  height: 8rem;
  width: 8rem;
  background-color: #d7bc71;
  border-radius: 50%;
  text-align: center;
  align-items: center;
  display: flex;
}
.section-photo * {
  z-index: 1;
  position: relative;
}

#map {
  height: 50dvh;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 1rem;
  filter: hue-rotate(330deg);
  filter: hue-rotate(310deg);
}

#map:is(:focus, :hover, :active) {
  border: #fff 1px solid;
}/*# sourceMappingURL=style.css.map */