.container {
  max-width: 1000px;
  padding: 1.5rem;
  margin: auto;
}

h1, h3, h2 {
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
}

h2 {
  font-size: clamp(2.3rem, 6vw, 4rem);
}

h3 {
  font-size: clamp(1.5rem, 6vw, 2.5rem);
}

.bottom-line {
  height: 4px;
  width: 6rem;
  background: #d7bc71;
  display: block;
  margin: 1rem 0 1.5rem 0;
  border-radius: 1px;
}

.thin {
  font-weight: 200;
}

.bold {
  font-weight: 600;
  font-size: clamp(0.4rem, 6vw, 1.2rem);
}

::-moz-selection {
  background-color: rgba(215, 188, 113, 0.5176470588);
}

::selection {
  background-color: rgba(215, 188, 113, 0.5176470588);
}

.gradient-animation {
  background: linear-gradient(to right, #d7bc71, #fff 35%, #d7bc71);
  background: linear-gradient(to right, rgb(0, 168, 253), #fff 35%, #e00a95);
  background: linear-gradient(to right, #68d0cd, #fff 35%, #e15cb0);
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient 3s linear infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 75%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 70%;
  }
}
* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

html,
body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.8;
  overflow-x: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
}

header {
  background: url("../images/header.jpg") no-repeat center center/cover;
  height: 80dvh;
  position: relative;
}
header::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
header * {
  z-index: 1;
}
header .header-content {
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 100%;
  text-wrap: balance;
  color: #eee5cd;
}
header .header-content h1, header .header-content h2, header .header-content h3 {
  font-size: clamp(1rem, 8vw, 6rem);
  font-weight: 600;
}
header .header-content h2 {
  font-size: clamp(0.8rem, 6vw, 4rem);
}
header .header-content p {
  margin-top: 1rem;
  font-size: clamp(0.4rem, 6vw, 1.2rem);
}
header svg {
  position: absolute;
  bottom: -2px;
  width: 100%;
  height: 5vw;
  fill: #fff;
}

.section-light, .section-white {
  min-height: 50dvh;
  text-wrap: balance;
  background: #eee5cd;
  background: linear-gradient(0deg, #eee5cd 0%, #fff 100%);
  color: #333;
}
.section-light .section-flexbox, .section-white .section-flexbox {
  display: flex;
}
.section-light .section-flexbox .section-content, .section-white .section-flexbox .section-content {
  flex-shrink: 0;
  margin-right: 2rem;
}
.section-light .section-flexbox .photo, .section-white .section-flexbox .photo {
  max-height: 20rem;
  aspect-ratio: 1;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 37% 63% 71% 29%/60% 64% 36% 40%;
  animation: border-radius 8s linear infinite;
  margin: 2rem auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.section-light .section-flexbox .photo:hover img, .section-white .section-flexbox .photo:hover img {
  transform: scale(1.03);
}
.section-light .section-flexbox .photo img, .section-white .section-flexbox .photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.5s ease-in-out;
}

.section-white {
  background: #fff;
}

.section-photo {
  color: #eee5cd;
  text-wrap: balance;
  background: url("../images/fuer_wen.jpg") no-repeat fixed center/cover;
  min-height: 50dvh;
  position: relative;
}
.section-photo::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.section-photo .label {
  height: 13rem;
  width: 13rem;
  background: #d7bc71;
  background: linear-gradient(90deg, #eee5cd 0%, #d7bc71 100%);
  color: #333;
  font-weight: 500;
  font-size: clamp(0.4rem, 6vw, 1.2rem);
  border-radius: 37% 63% 71% 29%/60% 64% 36% 40%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 50%;
  margin-top: 1rem;
  margin-bottom: -5rem;
  animation: border-radius 8s linear infinite;
}
.section-photo * {
  z-index: 1;
  position: relative;
}

.section-gallery {
  min-height: 50dvh;
  background-color: #eee5cd;
  color: #333;
}

#map {
  height: 50dvh;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  filter: hue-rotate(330deg);
  filter: hue-rotate(310deg);
  border-radius: 2px;
}

footer {
  min-height: 100dvh;
  background: radial-gradient(circle, #444 0%, #333 80%);
  color: #eee5cd;
  background-color: #333333;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 200 200'%3E%3Cg fill='none' stroke='%23444444' stroke-width='1' stroke-opacity='0.2'%3E%3Crect x='-40' y='40' width='75' height='75'/%3E%3Crect x='-35' y='45' width='65' height='65'/%3E%3Crect x='-30' y='50' width='55' height='55'/%3E%3Crect x='-25' y='55' width='45' height='45'/%3E%3Crect x='-20' y='60' width='35' height='35'/%3E%3Crect x='-15' y='65' width='25' height='25'/%3E%3Crect x='-10' y='70' width='15' height='15'/%3E%3Crect x='-5' y='75' width='5' height='5'/%3E%3Crect width='35' height='35'/%3E%3Crect x='5' y='5' width='25' height='25'/%3E%3Crect x='10' y='10' width='15' height='15'/%3E%3Crect x='15' y='15' width='5' height='5'/%3E%3Crect x='40' width='75' height='75'/%3E%3Crect x='45' y='5' width='65' height='65'/%3E%3Crect x='50' y='10' width='55' height='55'/%3E%3Crect x='55' y='15' width='45' height='45'/%3E%3Crect x='60' y='20' width='35' height='35'/%3E%3Crect x='65' y='25' width='25' height='25'/%3E%3Crect x='70' y='30' width='15' height='15'/%3E%3Crect x='75' y='35' width='5' height='5'/%3E%3Crect x='40' y='80' width='35' height='35'/%3E%3Crect x='45' y='85' width='25' height='25'/%3E%3Crect x='50' y='90' width='15' height='15'/%3E%3Crect x='55' y='95' width='5' height='5'/%3E%3Crect x='120' y='-40' width='75' height='75'/%3E%3Crect x='125' y='-35' width='65' height='65'/%3E%3Crect x='130' y='-30' width='55' height='55'/%3E%3Crect x='135' y='-25' width='45' height='45'/%3E%3Crect x='140' y='-20' width='35' height='35'/%3E%3Crect x='145' y='-15' width='25' height='25'/%3E%3Crect x='150' y='-10' width='15' height='15'/%3E%3Crect x='155' y='-5' width='5' height='5'/%3E%3Crect x='120' y='40' width='35' height='35'/%3E%3Crect x='125' y='45' width='25' height='25'/%3E%3Crect x='130' y='50' width='15' height='15'/%3E%3Crect x='135' y='55' width='5' height='5'/%3E%3Crect y='120' width='75' height='75'/%3E%3Crect x='5' y='125' width='65' height='65'/%3E%3Crect x='10' y='130' width='55' height='55'/%3E%3Crect x='15' y='135' width='45' height='45'/%3E%3Crect x='20' y='140' width='35' height='35'/%3E%3Crect x='25' y='145' width='25' height='25'/%3E%3Crect x='30' y='150' width='15' height='15'/%3E%3Crect x='35' y='155' width='5' height='5'/%3E%3Crect x='200' y='120' width='75' height='75'/%3E%3Crect x='40' y='200' width='75' height='75'/%3E%3Crect x='80' y='80' width='75' height='75'/%3E%3Crect x='85' y='85' width='65' height='65'/%3E%3Crect x='90' y='90' width='55' height='55'/%3E%3Crect x='95' y='95' width='45' height='45'/%3E%3Crect x='100' y='100' width='35' height='35'/%3E%3Crect x='105' y='105' width='25' height='25'/%3E%3Crect x='110' y='110' width='15' height='15'/%3E%3Crect x='115' y='115' width='5' height='5'/%3E%3Crect x='80' y='160' width='35' height='35'/%3E%3Crect x='85' y='165' width='25' height='25'/%3E%3Crect x='90' y='170' width='15' height='15'/%3E%3Crect x='95' y='175' width='5' height='5'/%3E%3Crect x='120' y='160' width='75' height='75'/%3E%3Crect x='125' y='165' width='65' height='65'/%3E%3Crect x='130' y='170' width='55' height='55'/%3E%3Crect x='135' y='175' width='45' height='45'/%3E%3Crect x='140' y='180' width='35' height='35'/%3E%3Crect x='145' y='185' width='25' height='25'/%3E%3Crect x='150' y='190' width='15' height='15'/%3E%3Crect x='155' y='195' width='5' height='5'/%3E%3Crect x='160' y='40' width='75' height='75'/%3E%3Crect x='165' y='45' width='65' height='65'/%3E%3Crect x='170' y='50' width='55' height='55'/%3E%3Crect x='175' y='55' width='45' height='45'/%3E%3Crect x='180' y='60' width='35' height='35'/%3E%3Crect x='185' y='65' width='25' height='25'/%3E%3Crect x='190' y='70' width='15' height='15'/%3E%3Crect x='195' y='75' width='5' height='5'/%3E%3Crect x='160' y='120' width='35' height='35'/%3E%3Crect x='165' y='125' width='25' height='25'/%3E%3Crect x='170' y='130' width='15' height='15'/%3E%3Crect x='175' y='135' width='5' height='5'/%3E%3Crect x='200' y='200' width='35' height='35'/%3E%3Crect x='200' width='35' height='35'/%3E%3Crect y='200' width='35' height='35'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
}
footer .box {
  background: transparent;
  width: 100%;
  padding: 1rem 0;
  display: grid;
  grid-template-areas: "name email" "message message" "submit submit";
  grid-gap: 0 2rem;
}
footer .box .name-input {
  grid-area: name;
}
footer .box .email-input {
  grid-area: email;
}
footer .box .message-input {
  grid-area: message;
}
footer .box .message-input #message {
  min-height: 100px;
}
footer .box .submit-input {
  grid-area: submit;
  height: 100px;
}
footer .box .input__wrapper {
  position: relative;
  padding: 1rem 0;
}
footer .box .input__wrapper .input__field {
  width: 100%;
  outline: 1.5px solid #eee5cd;
  font-size: 1rem;
  border-radius: 0.25rem;
  color: #eee5cd;
  padding: 0.5rem;
  border: none;
  background: #333;
  transition: all 0.2s;
}
footer .box .input__wrapper .input__field::-moz-placeholder {
  color: transparent;
}
footer .box .input__wrapper .input__field::placeholder {
  color: transparent;
}
footer .box .input__wrapper .input__field:-moz-placeholder-shown ~ .input__label {
  font-size: 1rem;
  cursor: text;
  color: #eee5cd;
  top: 1.2rem;
}
footer .box .input__wrapper .input__field:placeholder-shown ~ .input__label {
  font-size: 1rem;
  cursor: text;
  color: #eee5cd;
  top: 1.2rem;
}
footer .box .input__wrapper .input__field:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #333 inset;
  -webkit-text-fill-color: #eee5cd !important;
}
footer .box .input__wrapper label,
footer .box .input__wrapper .input__field:focus ~ .input__label {
  position: absolute;
  top: 0.05rem;
  padding: 0 0.25rem;
  background: #333;
  font-size: 0.875rem;
  left: 0.5rem;
  color: #eee5cd;
  transition: 0.3s;
}
footer .box .input__wrapper .input__field:focus ~ .input__label {
  color: #d7bc71;
}
footer .box .input__wrapper .input__field:focus {
  outline: 1.5px solid #d7bc71;
}
footer .box .input__submit {
  padding: 0.75rem 3rem;
  padding: 1rem 4rem;
  border-radius: 100vw;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  margin: auto;
  background: linear-gradient(50deg, #68d0cd, #fff 55%, #e15cb0);
  color: #333;
  background-size: 130% auto;
  background-position: 0% 75%;
  animation: submit-exit 0.2s linear forwards;
}
footer .box .input__submit:hover, footer .box .input__submit:focus-visible {
  animation: submit-enter 0.2s linear forwards;
}
footer .box #my-form-status {
  margin-top: 2rem;
}

@keyframes submit-enter {
  to {
    background-position: 100% 100%;
  }
}
@keyframes submit-exit {
  from {
    background-position: 100% 100%;
  }
  to {
    background-position: 0% 75%;
  }
}
@keyframes border-radius {
  0% {
    border-radius: 37% 63% 71% 29%/60% 64% 36% 40%;
  }
  20% {
    border-radius: 42% 58% 66% 34%/61% 59% 41% 39%;
  }
  40% {
    border-radius: 37% 63% 63% 37%/64% 53% 47% 36%;
    transform: translateY(-10px);
  }
  60% {
    border-radius: 34% 66% 52% 48%/66% 46% 54% 34%;
  }
  100% {
    border-radius: 37% 63% 71% 29%/60% 64% 36% 40%;
    transform: translateY(0);
  }
}
@media (max-width: 580px) {
  .section-light .section-flexbox, .section-white .section-flexbox {
    display: flex;
    flex-direction: column;
  }
  .section-light .section-flexbox .photo, .section-white .section-flexbox .photo {
    height: 15rem;
    aspect-ratio: 1;
    overflow: hidden;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 37% 63% 71% 29%/60% 64% 36% 40%;
    animation: border-radius 8s linear infinite;
    margin-top: 2rem;
  }
  .section-light .section-flexbox .photo img, .section-white .section-flexbox .photo img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .section-photo .label {
    height: 10rem;
    width: 10rem;
  }
  footer .box {
    grid-template-areas: "name" "email" "message" "submit";
  }
}/*# sourceMappingURL=style.css.map */